/* global */
html,
body {
    font-family: 'Jost', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* header */
.header {
    background-color: #ffffff;
    height: 90px;
    position: fixed;
    top: 40px;
    right: 0;
    left: 0;
    z-index: 10;
    display: flex;
    align-items: center;
    box-shadow: 0 3px 6px 0 rgb(0 0 0 / 5%);
}
.container {
    max-width: 1200px;
    margin: auto;
    padding: 0 25px;
}
.header .navbar-brand {
    color: #189a46;
    font-size: 34px;
    font-weight: 600;
    margin: 0;
}

.navbar-light .navbar-brand:focus,
.navbar-light .navbar-brand:hover {
    color: #189a46;
}

.header .navbar-nav{
    background-color: white;
}

.header .navbar-nav a.nav-link {
    font-size: 19.2px;
    font-weight: 400;
    padding: 14px 0;
    color: #000c04;
    position: relative;
}

.header .navbar-nav a.nav-link.active {
    color: #189a46;
}

.header .navbar-nav a.nav-link:hover {
    color: #189a46;
}
.header .navbar-nav a.nav-link::before{
    position: absolute;
    bottom: 13px;
    left: 0;
    content: "";
    background: #189a46;
    width: 0;
    height: 1px;
    transition: all 0.5s ease 0s;
}
.header .navbar-nav a:hover.nav-link::before{
    width: 100%;
}
.header .nav-item {
    padding: 0 12px;
}

.header .dropdown-item {
    font-weight: 400;
    font-size: 1.2em;
    color: #000c04;
    display: block;
    width: 100px;
    padding-bottom: 14px;
}

.header .navbar-nav .nav-link i {
    font-size: 14px;
    padding-left: 2px;
    font-weight: 600;
}


.header .mode__container {
    font-size: 25px;
    margin-left: 20px;
}
/* banner */
.banner{
    margin-top: 90px;
    position: relative;
    background-image: url(../image/banner4.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 250px;
}
.banner::before{
    content: "";
    background-color: #0c0c0c;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0.6;
}
.banner .container{
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    transform: translateY(-50%);
}
.banner h2.title{
    font-size: 50px;
    font-weight: 600;
    color: #fff;
}

.banner .container li{
    display: inline;
    vertical-align: middle;
    font-size: 1.2em;
    line-height: 1.5;
    font-weight: 400;
    text-transform: capitalize;
    color: #fff;
    list-style-type: none;
}

.banner .content a{
    text-decoration: none;
    color: #189a46;
    text-decoration: none;
}

.banner .content span{
    font-size: 12px;
    vertical-align: 2px;    
}

.banner .arrow{
    color: #ffffff;
}
/* about */
.about .about__left h6,
.history .content h6,
.features .item h6,
.experts .title h6{
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 1px;
    color: #f53626;
}
.about .about__left h2,
.features .item h2,
.experts .title h2{
    font-size: 40px;
    font-weight: 600;
    line-height: 48px;
    color: #000c04;
}
.about .about__left h4,
.experts .main h4 a{
    font-size: 22px;
    line-height: 32px;
    color: #000c04;
    font-weight: 600;
}
.about .about__right p,
.features .item p{
    color: #696969;
    font-size: 1.2em;
    margin: 0;
}
.about .row a.read {
    display: inline-block;
    text-decoration: none;
    font-size: 17px;
    font-weight: 600;
    color: #000c04;
    border-bottom: 2px solid #189a46;
    margin-top: 20px;
    transition: all 0.3s ease-in-out 0s;
}

.about .row a.read:hover {
    color: #189a46;
}
/* history */
.history{
    background-image: url(../image/banner2.jpg);
    width: 100%;
    height: 600px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}
.history::before{
    content: "";
    content: "";
    background-color: rgba(0, 4, 8, 0.69);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.history .container{
    position: relative;
}
.history .content{
    width: 55%;
    margin-left: auto;
    padding-top: 50px;
    padding-right: 50px;
}
.history .content p{
    color: #fff;
    font-size: 1.2em;
    opacity: 0.7;
}
.history .content h2{
    font-size: 40px;
    font-weight: 600;
    line-height: 48px;
    color: #fff;
}
.history .years h5{
    color: #fff;
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 6px;
}
/* features */
.features .row img{
    border-radius: 10px;
}
.features .contentRight h5 a{
    text-align: left;
    margin-bottom: 0;
    color: #000c04;
    font-weight: 600;
    font-size: 24px;
    text-decoration: none;
}
.features .contentRight h5:hover a{
    color: #189a46;
}
.features .contentLeft{
    color: #189a46;
    text-align: center;
    font-size: 40px;
}
.features .col__left{
    padding-left: 15px;
}
.features .col__right{
    padding-right: 15px;
}
.features .container {
    display: flex;
    align-items: center;
}
/* experts */
.experts{
    background: rgba(147, 107, 232, 0.05);
}
.experts .main h4:hover a{
    color: #189a46;
}
.experts .image{
    overflow: hidden;
}
.experts .main .image img{
    display: block;
    border-radius: 10px;
    transition: all 0.3s linear 0s;
    cursor: pointer;
}
.experts .main .image:hover img{
    transform: scale(1.1);
}
.experts .main h4{
    margin-top: 16px;
    margin-bottom: 0;
}
.experts .main h6{
    font-size: 16px;
    line-height: 25px;
    color: #696969;
}
.experts .experts__Bottom a{
    display: inline-block;
    margin-right: 6px;
    width: 30px;
    height: 30px;
    border-radius: 4px;
    text-align: center;
    background-color: rgba(147, 107, 232, 0.05);
    color: #189a46;
    transition: all 0.3s ease 0s;
}
.experts .experts__Bottom i{
    font-size: 12px;
    line-height: 30px;
}
.experts .experts__Bottom a:hover{
    background-color: #189a46;
    color: #ffffff;
}

/* footer */
.footer{
    background: #111;
}

.footer .container .row{
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.footer .container .row h6{
    color: #fff;
    font-size: 20px;
    line-height: 26px;
    font-weight: 600;
    margin-bottom: 25px;
}
.footer .container .row ul.social-icons{
    display: flex;
    margin-bottom: 0;
}
.footer .container .row ul{
    padding-left: 0;
}
.footer .container .row ul li{
    list-style: none;
    margin: 5px 15px 0 0;
}

.footer .container .row ul li p{
    font-size: 16px;
    color: #696969;
    line-height: 28px;
    margin-bottom: 0;
}
.footer .container .row ul li a{
    font-weight: normal;
    font-size: 16px;
    color: #696969;
    line-height: 28px;
    text-decoration: none;
}
  
.footer .container .row ul li a:hover{
    color: white;
    text-decoration: underline;
} 

.footer .container .row .main-social{
    margin-top: 3px;
    padding: 0;
    list-style: none;
    overflow: hidden;
}
.footer__bottom p{
    font-size: 16px;
    color: #696969;
    text-align: center;
    margin-bottom: 0;
}
.footer__bottom{
    border-top: 1px solid rgba(103, 99, 99, 0.14);
}
.footer__bottom p a{
    text-decoration: none;
    color: #f53626;
    opacity: 0.9;    
}
.footer__bottom p a:hover{
    text-decoration: underline;
    opacity: 0.8;
}


/* RESPONSIVE */

@media screen and (max-width:991px) {
    .history .content{
        width: 100%;
        margin: 60px 50px;
    }

    .history .row{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 20px;
        margin-top: 40px;
    }
}

@media screen and (max-width: 668px) {
    .about__right p {
      line-height: 25px;
      font-size: 15px;
    }
}