/* global */
html,
body{
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    background-color: #f8f6fd;
    }
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* header */
.header {
    background-color: #ffffff;
    height: 90px;
    position: fixed;
    top: 40px;
    right: 0;
    left: 0;
    z-index: 10;
    display: flex;
    align-items: center;
    box-shadow: 0 3px 6px 0 rgb(0 0 0 / 5%);
}
.container {
    width: 80%;
    margin: auto;
    padding: 0 25px;
}
.header .navbar-brand {
    color: #189a46;
    font-size: 34px;
    font-weight: 600;
    margin: 0;
}

.navbar-light .navbar-brand:focus,
.navbar-light .navbar-brand:hover {
    color: #189a46;
}

.header .navbar-nav{
    background-color: white;
}

.header .navbar-nav a.nav-link {
    font-size: 19.2px;
    font-weight: 400;
    padding: 14px 0;
    color: #000c04;
    position: relative;
}

.header .navbar-nav a.nav-link.active {
    color: #189a46;
}

.header .navbar-nav a.nav-link:hover {
    color: #189a46;
}
.header .navbar-nav a.nav-link::before{
    position: absolute;
    bottom: 13px;
    left: 0;
    content: "";
    background: #189a46;
    width: 0;
    height: 1px;
    transition: all 0.5s ease 0s;
}
.header .navbar-nav a:hover.nav-link::before{
    width: 100%;
}
.header .nav-item {
    padding: 0 12px;
}

.header .dropdown-item {
    font-weight: 400;
    font-size: 1.2em;
    color: #000c04;
    display: block;
    width: 100px;
    padding-bottom: 14px;
}

.header .navbar-nav .nav-link i {
    font-size: 14px;
    padding-left: 2px;
    font-weight: 600;
}


.header .mode__container {
    font-size: 25px;
    margin-left: 20px;
}

.header .navbar-nav .nav-link::before{
    width: 0;
    position: absolute;
    content: '';
    background: #189a46;
    height: 2px;
    bottom: 13px;
    transition: all .5s;
}

.header .navbar-nav .nav-link:hover::before{
    width: 65px;
}

/* banner */
.banner{
    margin-top: 90px;
    position: relative;
    background-image: url(../image/banner4.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 250px;
}
.banner::before{
    content: "";
    background-color: #0c0c0c;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0.6;
}
.banner .container{
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    transform: translateY(-50%);
}
.banner h2.title{
    font-size: 50px;
    font-weight: 600;
    color: #fff;
}

.banner .container li{
    display: inline;
    vertical-align: middle;
    font-size: 1.2em;
    line-height: 1.5;
    font-weight: 400;
    text-transform: capitalize;
    color: #fff;
    list-style-type: none;
}

.banner .content a{
    text-decoration: none;
    color: #189a46;
    text-decoration: none;
}

.banner .content span{
    font-size: 12px;
    vertical-align: 2px;    
}

.banner .arrow{
    color: #ffffff;
}

/* blog */
.blog .container .title{
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase;
    line-height: 2em;
    letter-spacing: 1px;
    color: #f53626;
}

.blog .container .h-title{
    font-size: 40px;
    font-weight: 600;
    line-height: 48px;
    text-transform: capitalize;
}

.blog .container .row{
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(-1 * var(--bs-gutter-y));
    margin-right: calc(-0.5 * var(--bs-gutter-x));
    margin-left: calc(-0.5 * var(--bs-gutter-x));
}

.blog .container .row .card{
    border-radius: 10px;
}

.blog .container .row .card:hover{
    transform: translateY(-0.5rem);
    transition: 0.3s ease;
}

.blog .container .row .card a{
    cursor: pointer;   
}

.blog .container .row .card img{
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-end-end-radius: 0;
    width: 100%;
}
   
.blog .container .row .card-body{
    flex: 1 1 auto;
    min-height: 1px;
    padding: 2rem 1rem;
}

.blog .container .row .card:hover .card-body{
    box-shadow: 0 25px 98px 0 rgba(22, 22, 22, 0.11);
}

.blog .container .row .blog-detail{
    background: #ffffff;
    padding: 30px 20px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    box-shadow: 0 25px 98px 0 rgb(19 19 19 / 3%);
    border: 1px solid #fff;
}

.blog .container .row .card-body a.blog-desc{
    display: block;
    font-size: 26px;
    line-height: 34px;
    font-weight: 600;
    color: #000c04;
    margin-bottom: 6px;
    text-transform: capitalize;
    text-decoration: none;
}

.blog .container .row .card-body a.blog-desc:hover{
    color: #189a46;
    transition: 0.3 ease;
}

.blog .container .row .card-body p{
    margin: 0;
    padding: 0;
    font-size: 1.2em;
    line-height: 28px;
    color: #696969;
    font-family: 'Jost', sans-serif;
}

.blog .container .row .card-body .author{
    color: #999;
}

.blog .container .row .card-body .author a{
    color: #000c04;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    cursor: pointer;
    text-decoration: none;
}

.blog .container .row .card-body .author a:hover{
    color: #f53626;
    transition: 0.3 ease;
}

.blog .container .row .card-body ul.blog-meta{
    margin: 0;
    padding: 0;
}

.blog .container .row .card-body .blog-meta li.meta-item{
    display: inline-block;
    margin-right: 15px;
    font-size: 15px;
    color: #888;
}

.pagination-wrapper .page-pagination li{
    display: inline-block;
    margin: 0 5px;
}

.pagination-wrapper .page-pagination span.page-numbers{
    display: block;
    text-align: center;
    border: 0;
    color: #189a46;
    padding: 0;
    font-size: 20px;
    font-weight: 600;
    margin-right: 5px;
}

.pagination-wrapper .page-pagination a.page-numbers{
    font-size: 20px;
    font-weight: 600;
    color: black;
    width: 20px;
    display: block;
    text-align: center;
    text-decoration: none;
}

.pagination-wrapper .page-pagination a.page-numbers:hover{
    color: #189A46;
}

.pagination-wrapper .page-pagination a.next span.fa{
    font-size: 20px;
    font-weight: 600;
    color: black;
    width: 20px;
    display: block;
}

.pagination-wrapper .page-pagination a.next{
    text-decoration: none;
}

/* footer */
.footer{
    background: #111;
}

.footer .container .row{
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.footer .container .row h6{
    color: #fff;
    font-size: 20px;
    line-height: 26px;
    font-weight: 600;
    margin-bottom: 25px;
}
.footer .container .row ul.social-icons{
    display: flex;
    margin-bottom: 0;
}
.footer .container .row ul{
    padding-left: 0;
}
.footer .container .row ul li{
    list-style: none;
    margin: 5px 15px 0 0;
}

.footer .container .row ul li p{
    font-size: 16px;
    color: #696969;
    line-height: 28px;
    margin-bottom: 0;
}
.footer .container .row ul li a{
    font-weight: normal;
    font-size: 16px;
    color: #696969;
    line-height: 28px;
    text-decoration: none;
}
  
.footer .container .row ul li a:hover{
    color: white;
    text-decoration: underline;
} 

.footer .container .row .main-social{
    margin-top: 3px;
    padding: 0;
    list-style: none;
    overflow: hidden;
}
.footer__bottom p{
    font-size: 16px;
    color: #696969;
    text-align: center;
    margin-bottom: 0;
}
.footer__bottom{
    border-top: 1px solid rgba(103, 99, 99, 0.14);
}
.footer__bottom p a{
    text-decoration: none;
    color: #f53626;
    opacity: 0.9;    
}
.footer__bottom p a:hover{
    text-decoration: underline;
    opacity: 0.8;
}