/* global */
html,
body{
    font-family: 'Jost', sans-serif;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* header */
.header{
    background-color: #ffffff;
    height: 90px;
    position: fixed;
    top: 40px;
    right: 0;
    left: 0;
    z-index: 10;
    display: flex;
    align-items: center;
    box-shadow: 0 3px 6px 0 rgb(0 0 0 / 5%);
}
.header .container{
    max-width: 1200px;
    margin: auto;
    padding: 0 25px;
}
.header .navbar-brand{
    color: #189a46;
    font-size: 34px;
    font-weight: 600;
    margin: 0;
}
.navbar-light .navbar-brand:focus, .navbar-light .navbar-brand:hover{
    color: #189a46;
}
.header .navbar-nav .nav-link{
    font-size: 19.2px;
    font-weight: 400;
    padding: 14px 0;
    color: #000c04;   
}
.header .navbar-nav .nav-link.active{
    color: #189a46;
}
.header .navbar-nav .nav-link:hover{
    color: #189a46;
}
.header .nav-item{
    padding: 0 12px;
}
.header .dropdown-item{
    font-weight: 400;
    font-size: 1.2em;
    color: #000c04;
    display: block;
    width: 100px;
    padding-bottom: 14px;
}
.header .navbar-nav .nav-link i{
    font-size: 14px;
    padding-left: 2px;
    font-weight: 600;
}
.header .mode__container{
    font-size: 25px;
    margin-left: 20px;
}
/* slider */
.slider .container{
    max-width: 1200px;
}
.slider .carousel-item h5{
    font-size: 60px;
    line-height: 76px;
    font-weight: 600;
}
.slider .carousel-item p{
    font-size: 1.2em;
    font-weight: 400;
    line-height: 30px;
}
.slider .carousel-item .carousel-caption{
    max-width: 700px;
}
.slider .carousel-caption .button1{
    padding: 12px 35px;
    font-size: 18px;
    line-height: 28px;
    font-weight: 400;
    background-color: #ffffff;
    color: #189a46;
    border: 2px solid transparent;
    border-radius: 10px;
    margin: 3rem 0.5rem 0 0;
}
.slider .carousel-caption .button2{
    color: #ffffff;
    border: 2px solid #ffffff;
    padding: 12px 35px;
    border-radius: 10px;
    font-size: 18px;
    background-color: transparent;
    margin-top: 3rem;
    transition: all 0.3s ease-in 0s;
}
.slider .carousel-caption .button2:hover{
    color: #189a46;
    background-color: #ffffff;
}
.slider .carousel-caption{
    bottom: 50%;
    transform: translateY(50%);
}
.slider .carousel-item::before{
    content: "";
    background-color: #000000;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 55%;
}
.slider .carousel-indicators button{
    width: 10px;
    height: 10px;
    border-radius: 50%;
}
.slider .carousel-inner img{
    height: 700px;
    object-fit: cover;
}
.slider .carousel-inner .carousel-caption {
    text-align: left;
}
/* about */
.about{
    padding: 6rem 0;
    
}
.about .content{
    width: 700px;
    margin: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.about .content p{
    margin: 0;
    font-size: 18px;
    color: #f53626;
    font-weight: 400;
    letter-spacing: 1px;    
    line-height: 2em;
}
.about .content h2{
    font-size: 40px;
    font-weight: 600;
}
.about .content span{
    font-size: 1.2em;
    color: #696969;
}
.about .content a{
    display: block;
    text-decoration: none;
    border-bottom:2px solid #189a46;
    font-size: 17px;
    font-weight: 600;
    margin-top: 20px;
    color: #000c04;
    transition: all 0.3s ease-in-out 0s;
}
.about .content a:hover{
    color: #189a46;
}
/* services */
.services{
    background-color: rgba(147, 107, 232, 0.05);
    padding: 3rem;
}
.services .container{
    max-width: 1200px;
    margin: auto;
}
.services .row{
    margin-right: -15px;
    margin-left: -15px;
}
.services .col-4{
    padding-right: 15px;
    padding-left: 15px;
}
.services .item{
    padding: 40px 30px;
    margin-top: 30px;
    background-color: #ffffff;
    transition: all 0.5s ease 0s;
}
.services .item:hover{
    background-color: rgba(147, 107, 232, 0.05);
}
.services .row .icon i{
    color: #189a46;
    font-size: 30px;
}
.services .row h4 a{
    display: block;
    text-decoration: none;
    color: #000c04;
    font-size: 24px;
    font-weight: 600;
    margin: 25px 0 15px 0;
}
.services .row h4 a:hover{
    color: #189a46;
}
.services .row p{
    font-size: 1.2em;
    line-height: 28px;
    color: #696969;
}
.services .row a.read{
    display: inline-block;
    text-decoration: none;
    font-size: 17px;
    font-weight: 600;
    color: #000c04;
    border-bottom: 2px solid #189a46;
    margin-top: 20px;
    transition: all 0.3s ease-in-out 0s;
}
.services .row a.read:hover{
    color: #189a46;
}