/* global */
html,
body {
    font-family: 'Jost', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* header */
.container {
    width: 80%;
    margin: auto;
    padding: 0 25px;
}

.header {
    background-color: #ffffff;
    height: 90px;
    position: fixed;
    top: 40px;
    right: 0;
    left: 0;
    z-index: 10;
    display: flex;
    align-items: center;
    box-shadow: 0 3px 6px 0 rgb(0 0 0 / 5%);
}

.header .container {
    max-width: 1200px;
    margin: auto;
    padding: 0 25px;
}

.header .navbar-brand {
    color: #189a46;
    font-size: 34px;
    font-weight: 600;
    margin: 0;
}

.navbar-light .navbar-brand:focus,
.navbar-light .navbar-brand:hover {
    color: #189a46;
}

.header .navbar-nav .nav-link {
    font-size: 19.2px;
    font-weight: 400;
    padding: 14px 0;
    color: #000c04;
}

.header .navbar-nav .nav-link.active {
    color: #189a46;
}

.header .navbar-nav .nav-link:hover {
    color: #189a46;
}

.header .nav-item {
    padding: 0 12px;
}

.header .dropdown-item {
    font-weight: 400;
    font-size: 1.2em;
    color: #000c04;
    display: block;
    width: 100px;
    padding-bottom: 14px;
}

.header .navbar-nav .nav-link i {
    font-size: 14px;
    padding-left: 2px;
    font-weight: 600;
}

.header .mode__container {
    font-size: 25px;
    margin-left: 20px;
}

/* slider */
.slider .carousel-item h5 {
    font-size: 60px;
    line-height: 76px;
    font-weight: 600;
}

.slider .carousel-item p {
    font-size: 1.2em;
    font-weight: 400;
    line-height: 30px;
}

.slider .carousel-item .carousel-caption {
    max-width: 700px;
}

.slider .carousel-caption .button1 {
    padding: 12px 35px;
    font-size: 18px;
    line-height: 28px;
    font-weight: 400;
    background-color: #ffffff;
    color: #189a46;
    border: 2px solid transparent;
    border-radius: 10px;
    margin: 3rem 0.5rem 0 0;
}

.slider .carousel-caption .button2 {
    color: #ffffff;
    border: 2px solid #ffffff;
    padding: 12px 35px;
    border-radius: 10px;
    font-size: 18px;
    background-color: transparent;
    margin-top: 3rem;
    transition: all 0.3s ease-in 0s;
}

.slider .carousel-caption .button2:hover {
    color: #189a46;
    background-color: #ffffff;
}

.slider .carousel-caption {
    bottom: 50%;
    transform: translateY(50%);
}

.slider .carousel-item::before {
    content: "";
    background-color: #000000;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 55%;
}

.slider .carousel-indicators button {
    width: 10px;
    height: 10px;
    border-radius: 50%;
}

.slider .carousel-inner img {
    height: 700px;
    object-fit: cover;
}

.slider .carousel-inner .carousel-caption {
    text-align: left;
}

/* about */
.about {
    padding: 6rem 0;

}

.about .content {
    width: 700px;
    margin: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about .content p {
    margin: 0;
    font-size: 18px;
    color: #f53626;
    font-weight: 400;
    letter-spacing: 1px;
    line-height: 2em;
}

.about .content h2 {
    font-size: 40px;
    font-weight: 600;
}

.about .content span {
    font-size: 1.2em;
    color: #696969;
}

.about .content a {
    display: block;
    text-decoration: none;
    border-bottom: 2px solid #189a46;
    font-size: 17px;
    font-weight: 600;
    margin-top: 20px;
    color: #000c04;
    transition: all 0.3s ease-in-out 0s;
}

.about .content a:hover {
    color: #189a46;
}

/* services */
.services {
    background-color: rgba(147, 107, 232, 0.05);
    padding: 3rem;
}

.services .row {
    margin-right: -15px;
    margin-left: -15px;
}

.services .col-4 {
    padding-right: 15px;
    padding-left: 15px;
}

.services .item {
    padding: 40px 30px;
    margin-top: 30px;
    background-color: #ffffff;
    transition: all 0.5s ease 0s;
}

.services .item:hover {
    background-color: rgba(147, 107, 232, 0.05);
}

.services .row .icon i {
    color: #189a46;
    font-size: 30px;
}

.services .row h4 a {
    display: block;
    text-decoration: none;
    color: #000c04;
    font-size: 24px;
    font-weight: 600;
    margin: 25px 0 15px 0;
}

.services .row h4 a:hover {
    color: #189a46;
}

.services .row p {
    font-size: 1.2em;
    line-height: 28px;
    color: #696969;
}

.services .row a.read {
    display: inline-block;
    text-decoration: none;
    font-size: 17px;
    font-weight: 600;
    color: #000c04;
    border-bottom: 2px solid #189a46;
    margin-top: 20px;
    transition: all 0.3s ease-in-out 0s;
}

.services .row a.read:hover {
    color: #189a46;
}

/* highlights */
.highlights .item img {
    border-radius: 10px;
    vertical-align: middle;
}

.highlights .row {
    margin-right: -15px;
    margin-left: -15px;
}

.highlights .col-6 {
    padding-right: 15px;
}

.highlights .col-6 .item h6 {
    color: #f53626;
    font-size: 18px;
    font-weight: 400;
    line-height: 2em;
    letter-spacing: 1px;
    margin: 0;
}

.highlights .col-6 .item h3 {
    font-size: 40px;
    font-weight: 600;
    line-height: 48px;
    margin: 0;
}

.highlights .item ul {
    list-style-type: none;
    padding: 0;
    margin: 0;

}

.highlights .item ul li {
    font-size: 16px;
    line-height: 26px;
    color: #000c04;
    margin: 15px 0;
    font-weight: 600;
}

.highlights .item i {
    color: #189a46;
    margin-right: 12px;
    background-color: rgba(147, 107, 232, 0.05);
    font-size: 10px;
    padding: 8px;
    border-radius: 50%;
}
/* counter */
.counter{
    background-color: #189a46;
}
.counter .row p{
    font-size: 50px;
    line-height: 60px;
    font-weight: 600;
    color: #fff;
    margin-top: 30px;
}
.counter .row h4{
    font-size: 20px;
    line-height: 25px;
    color: #fff;
    margin-top: 10px;
    opacity: 0.8;
    font-weight: 400;
}
/* plans */
.plans{
    background-color: rgba(147, 107, 232, 0.05);
}
.plans .main{
    margin: 0 5% auto;
}
.plans .main .item{
    background-color: #fff;
    border-radius: 6px;
    align-items: center;
}
.plans .title p{
    color: #f53626;
    font-size: 25px;
    line-height: 30px;
    font-weight: 600;
    margin-bottom: 10px;
}
.plans .title h2{
    font-size: 40px;
    font-weight: 600;
    line-height: 48px;
}
.plans .main .item h6{
    margin-bottom: 10px;
    font-size: 25px;
    line-height: 30px;
    font-weight: 600;
}

.plans .main .item h4{
    font-size: 40px;
    line-height: 45px;
    margin: 15px 0 20px;
    font-weight: 600;
    color: #189a46;
}
.plans .main .item label{
    font-size: 25px;
    vertical-align: text-top;
}
.plans .main .item span{
    font-size: 16px;
    line-height: 25px;
    color: #999;
    font-weight: 400;
}
.plans .main .active .item-top{
    background-color: #189a46;
    padding: 3em 2.5em 0.5em;
    border-radius: 5px 5px 0 0;
}
.plans .main .active h5{
    font-size: 15px;
    line-height: 20px;
    color: #189a46;
    margin-bottom: 30px;
    font-weight: 700;
    display: inline-block;
    padding: 8px 20px;
    background: #fff;
    border-radius: 10px;
}
.plans .main .item-bottom{
    padding: 2em 2.5em 3em;    
}
.plans .item-bottom ul li{
    list-style-type: none;
    margin-bottom: 5px;
}
.plans .item-bottom li p{
    font-size: 18px;
    line-height: 28px;
    padding-top: 6px;
    color: #696969;
    margin-bottom: 0;
}
.plans .item-bottom .buy-button a{
    padding: 14px 37px;
    font-size: 18px;
    line-height: 28px;
    font-weight: 400;
    border-radius: 10px;
    background-color: #189a46;
    border: 2px solid transparent;
}
.plans .item-bottom .buy-button{
    margin-top: 2em;
}
.plans .main .content{
    border-radius: 6px;
}
.plans .main .content-2{
    transform: scale(1.03);
    box-shadow: 0 10px 30px 0 rgb(17 17 17 / 9%);
}
/* video */
.video .title h6{
    font-size: 18px;
    font-weight: 400;
    line-height: 2em;
    letter-spacing: 1px;
    color: #f53626;
}
.video .title h3{
    font-size: 40px;
    font-weight: 600;
    line-height: 48px;
}
.video .title p{
    margin: 0;
    padding: 0 0 50px 0;
    font-size: 1.2em;
    line-height: 28px;
    color: #696969;
}
.video .main{
    position: relative;
}
.video .main a{
    position: absolute;
    left: 0;
    right: 0;
    top: calc(50% - 40px);
}
.video .main i{
    color: #189a46;
    background-color: #fff;
    width: 55px;
    height: 55px;
    border-radius: 50%;
    line-height: 55px;
    transition: 0.3s ease-in-out;
}
.video .main i:hover{
    transform: scale(1.1);
}
.video .main img{
    border-radius: 10px;
}
/* testimonials */
.testimonials .title h6{
    font-size: 18px;
    font-weight: 400;
    line-height: 2em;
    letter-spacing: 1px;
    color: #f53626;
}
.testimonials .title h3{
    font-size: 40px;
    font-weight: 600;
    line-height: 48px;
}
/* subscribe */
.subscribe .container{
    display: grid;
    grid-template-columns: 1fr;
    text-align: center;

}
.subscribe .container .title{
    max-width: 650px;
    margin: auto;
}
.subscribe .container .title h2{
    font-size: 40px;
    font-weight: 600;
    line-height: 48px;
}
.subscribe .container .title p{
    color: #696969;
    margin: 0;
    padding: 0;
    font-size: 1.2em;
    line-height: 28px;
}
.subscribe .main .form{
    display: flex;
    justify-content: space-between;
    max-width: 650px;
    margin: auto;
}
.subscribe .main input{
    font-size: 16px;
    height: 60px;
    padding: 0 20px;
    flex-basis: 70%;
    border-radius: 10px;
    border: 1px solid #ced4da;
}
.subscribe .main button{
    color: #fff;
    background-color: #189a46;
    border-radius: 10px;
    border: 1px solid transparent;
    padding: 12px 35px;
    font-size: 18px;
    line-height: 28px;
    flex-basis: 27%;
    transition: 0.3s ease-in;
}
.subscribe .main button:hover{
    background-color: #116E32;
}
/* footer */
.footer{
    background: #111;
}

.footer .container .row{
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.footer .container .row h6{
    color: #fff;
    font-size: 20px;
    line-height: 26px;
    font-weight: 600;
    margin-bottom: 25px;
}
.footer .container .row .social-icons{
    display: flex;
}
.footer .container .row ul{
    padding-left: 0;
}
.footer .container .row ul li{
    list-style: none;
    margin: 5px 15px 0 0;
}

.footer .container .row ul li p{
    font-weight: normal;
    font-size: 16px;
    color: #696969;
    line-height: 28px;
    margin-bottom: 0;
}

.footer .container .row ul li a{
    font-weight: normal;
    font-size: 16px;
    color: #696969;
    line-height: 28px;
    text-decoration: none;
}
  
.footer .container .row ul li a:hover{
    color: white;
    text-decoration: underline;
} 

.footer .container .row .main-social{
    margin-top: 3px;
    padding: 0;
    list-style: none;
    overflow: hidden;
}
.footer__bottom p{
    font-size: 16px;
    color: #696969;
    text-align: center;
    margin-bottom: 0;
}
.footer__bottom{
    border-top: 1px solid rgba(103, 99, 99, 0.14);
}
.footer__bottom p a{
    text-decoration: none;
    color: #f53626;
    opacity: 0.9;    
}
.footer__bottom p a:hover{
    text-decoration: underline;
    opacity: 0.8;
}